/* start Global Styles */

* {
    padding: 0;
    margin: 0;
}
ul,li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
body {
    height: 2000px;
    font-family: 'Open Sans', sans-serif;
}



/*=========== start Navbar ===========*/
.navbar {
    border-radius: 0;
    margin-bottom: 0;
    padding:5px 0;
    background-color: #000;
}
.scrolled {
    background-color:#000;
}
.navbar .navbar-brand {
    font-weight:bold;
    font-size: 30px;
}
.navbar .navbar-brand span {
    font-weight: 100;
    margin-left: -7px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #ff9b51;
    background-color: #080808;
}

/*============ Header ==========*/

header {
    background: url(../images/header.png) no-repeat top center;
    background-size: cover;
    -webkit-background-size : cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
    position: relative;
    color: #fff;
    
}
header .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    
}

header .centering-vh {
    margin-top: 20vh;
}
header h1 {
    font-weight: bold;
    font-size: 60px;
}
header h1 span {
    font-weight:normal;
    margin-left: -15px;
}

header .lead {
    font-size: 30px;
    font-weight: 100;
}
header .lead::after {
    content: "";
    width: 60px;
    height: 2px;
    display: block;
    background: #fff;
    margin: 25px 0px;
}
header .secondP {
    color: rgba(255,255,255,0.8);
    line-height: 1.5;
}
header button{
    background: transparent;
    padding: 7px 20px;
    border: 2px solid #fff;
    margin-top: 20px;
    transition: 0.3s;
}
header button:hover {
    background: #fff;
    color: #000;
}


/* form style */
header form {
    width: 360px;
    background-color: #fff;
    margin: 6vh 0;
}
header form h4 {
    background: #f5f5f5;
    color: #000;
    margin: 0;
    padding: 15px;
    font-weight: 600;
}

header form .form-control {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    width: 80%;
    margin:40px auto;
    
}
header form .form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid #ff9b51;
}
header form input[type="submit"]{
    border-radius: 0;
    padding: 15px 0px;
    
}

@media (max-width : 991px){
    .text-center-xs {
        text-align: center;
    }
    header .lead::after {
    margin: 25px auto;
}
    header button {
        display: block;
        margin: 20px auto;
    }
    
    header form {
        width: 90%;
        margin: 6vh auto;
    }
    
}

/*============= social media section  =============*/
.social-section {
    padding: 15px 0px;
    -webkit-box-shadow: 0 2px 5px rgba(100,100,100,0.4);
    -moz-box-shadow: 0 2px 5px rgba(100,100,100,0.4);
    -o-box-shadow: 0 2px 5px rgba(100,100,100,0.4);
    box-shadow: 0 2px 5px rgba(100,100,100,0.4);
    border-bottom: 1px solid #ccc;
}
.social-section h4 {
    font-weight: 600;
    margin-top: 0;
}
.social-section p {
    color: #888;
    margin-bottom: 0;
}
.social-section ul {
    margin-left: 2em;
}
.social-section ul li {
    display: inline-block;
    margin: 10px 20px;
}
.social-section ul li i {
    color: #ccc;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.social-section ul li .fa-facebook:hover {
    color: #3b5998;
}
.social-section ul li .fa-twitter:hover {
    color: #1da1f2;
}
.social-section ul li .fa-google-plus:hover {
    color: #dd4b39;
}
.social-section ul li .fa-pinterest:hover {
    color: #bd081c;
}
.social-section ul li .fa-instagram:hover {
    color: #e1306c;
}
.social-section ul li .fa-stumbleupon:hover {
    color: #eb4924;
}
.social-section ul li .fa-rss:hover {
    color: #f26522;
}

@media (max-width : 991px){
    .social-section {
        text-align: center;
        padding: 22px 0;
    }
    .social-section h4 {
        font-size: 20px;
    }
    .social-section p {
        margin-bottom: 15px;
    }
    .social-section ul {
    margin-left: 0;
}
    
    .social-section ul li {
    display: inline-block;
    margin: 10px;
}
    .social-section ul li .fa {
        font-size: 35px;
    }
}

/*========== Tabs Section  ============*/
.tabs-section {
    padding: 10rem 0;
    background: #f5f5f5;
}
.tabs-section .tab-switch li {
    background-color: #333;
    color: #fff;
    border-bottom: 1px solid #fff;
    height: 100px;
    line-height: 100px;
    font-size: 18px;
    cursor: pointer;
    width: 70%;
    margin: auto;
}
.tabs-section .tab-switch li.selected,
.tabs-section .tab-switch li:hover {
    background-color: #ff9b51;
}
.tabs-section .tabs-content div:not(.tab-one) {
    display: none;
}
.tabs-section .tabs-content h3 {
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 0;
}

.tabs-section .tabs-content button {
    border-radius: 2px;
    transition: 0.2s;
    margin-top: 20px;
}
.tabs-section .tabs-content button:hover {
    background-color: #333;
    color: #fff;
}

.tabs-section img {
    margin-top: 30px;
}

@media(max-width : 991px){
    .tabs-section {
        text-align: center;
        padding: 6rem 0;
    }
    .tabs-section .tabs-content h3 {
    margin: 30px 0;
}
}


/*========== Sublist section ============*/
.sublist {
    background-color: #fff;
    padding: 8rem 0;
}
.sublist img {
    margin-top: 2em;
}
.sublist h3 {
    font-weight: bold;
}
.sublist p {
    line-height: 1.5;
    color: #888;
}
.sublist .title {
    margin-top: 2em;
}
.sublist .title i {
    color: #ff9b51;
    padding: 10px;
    border: 2px solid #ff9b51;
    border-radius: 50%;
    margin-top: 0.5em;
    
}
.sublist .title h4 {
    font-weight: bold;
}
@media(max-width : 991px) {
    .sublist {
        text-align: center;
        padding: 4rem 0;
    }
    
}

/*========== Standard picture section ============*/
.standard-picture {
    background-color: #f5f5f5;
    padding: 8rem 0;
}
.standard-picture .standard-info {
    margin-top: 2em;
}

@media(max-width : 991px) {
    .standard-picture {
        text-align: center;
        padding: 4rem 0;
    }
    
}

/*========== Awesome section ============*/
.awesome {
    padding: 8rem 0;
    background-color: #fff;
}
.awesome .part {
    margin-top: 3em;
}
.awesome .part i {
    color: #ff9b51;
    height: 60px;
    line-height: 55px;
    width: 60px;
    border: 2px solid #ff9b51;
    border-radius: 50%;
    
}
.awesome h4{
    margin-top: 22px;
    margin-bottom: 22px;
}

@media(max-width : 991px) {
    .awesome {
        text-align: center;
        padding: 4rem 0;
    }
    .awesome h1 {
        font-size: 28px;
    }
    
}



/*========== Pricing section ============*/
.pricing {
    padding: 8rem 0;
    background-color: #f5f5f5;
}
.pricing .price-box {
    background-color: #fff;
    
}
.pricing .basic,
.pricing .enterprise {
    margin-top: 40px;
}
.pricing .price-box .plan-head {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    margin: 0;
    border-bottom: 1px solid #fff;
}
.pricing .price-box .price-option {
    background-color: #333;
    color: #fff;
    padding: 15px 0 0 0;
    border-bottom: 5px solid #ff9b51;
}
.pricing .price-box .price-option .price {
    font-size: 4em;
    font-weight: bold;
}
.pricing .price-box .price-option .usd {
    font-size: 28px;
    font-weight: bold;
}
.pricing .price-box .price-option p {
    color: #aaa;
    font-style: italic;
}
.pricing .price-box .price-option .mostPopular {
    margin-bottom: 0;
    padding: 10px 0;
    color: #fff;
    font-style: normal;
}
.pricing .price-box .configuration li {
    padding: 10px 0;
    color: #888;
    border-bottom: 1px solid #f5f5f5;
}
@media(max-width : 991px) {
    .pricing {
        padding: 4rem 0;
    }
    .pricing h1 {
        font-size: 30px;
    }
    .pricing .price-box {
    margin: 20px;
}
    
}


/*========== Testimonial ssection ============*/
.testimonials {
    padding: 8rem 0;
    background-color: #fff;
    
}
.testimonials .opinion {
    background-color: #f5f5f5;
    border: none;
    box-sizing: border-box;
    padding: 25px 15px;
    color: #666;
    font-style: italic;
    position: relative;
}
.testimonials .opinion::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px ;
    border-color: #f5f5f5 transparent transparent;
    position: absolute;
    bottom: -28px;
    left: 12%;
    
    
}
.testimonials .profile {
    padding-left: 0;
}
.testimonials .profile .profile-picture {
    padding: 0;
}
.testimonials .profile .prfile-id {
    padding-left: 0;
    margin-top: 6px;
}
.testimonials .profile .prfile-id h5 {
    color: #aaa;
}

@media(max-width : 991px) {
    .testimonials {
        padding: 4rem 0;
    }
    .testimonials h1 {
        font-size: 28px;
    }
     .testimonials .review {
        margin-bottom:30px; 
    }
    
}

/*========== Stylish section ============*/
.stylish {
    background: url(../images/stylish.png) no-repeat top center;
    background-size: cover;
    -webkit-background-size : cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    color: #fff;
    min-height: 320px;
}
.stylish .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding: 55px 0;
}
.stylish .line-bottom-center::after {
    background-color: #fff;
}
.stylish .stylishP {
    color: #ccc;
    margin-bottom: 2.5em;
}
.stylish .stylish-btn {
    display: block;
    margin: auto;
    padding: 8px 25px;
    background: transparent;
    border: 2px solid #fff;
    transition: 0.3s;
}
.stylish .stylish-btn:hover {
    background: #fff;
    color: #000;
}

@media(max-width : 991px) {
    .stylish {
        min-height: 280px;
    }
    .stylish .overlay {
        padding: 20px 0;
    }
    .stylish h1 {
        font-size: 28px;
    }
    
}


/*========== Contact-us section ============*/
.contact {
    padding: 6rem 0;
    
}
.contact form input {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
}
.contact form input:focus {
    box-shadow: none;
    border-bottom: 1px solid #ff9b51;
}
.contact form .form-group {
    margin-bottom: 25px;
}
.contact form textarea {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
}
.contact form textarea:focus {
    box-shadow: none;
    border-bottom: 1px solid #ff9b51;
}

.contact form button {
    margin-top: 15px;
    border-radius: 2px;
}

@media(max-width : 991px) {
    .contact {
        padding: 3rem 0;
    }
    .contact h1 {
        font-size: 30px;
    }
    
}

/*========== Footer ============*/
footer {
    background-color: #000;
    padding: 1em 0;
}
footer p {
    margin-top: 10px;
    color: #ddd;
}
footer ul li {
    display: inline-block;
    margin: 10px;
}
footer ul li .fa {
    font-size: 25px;
    color: #888;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
footer ul li:hover i {
    color: #eee;
}

@media (max-width : 991px){
    footer ul li {
        margin: 6px;
    }
    footer ul li .fa {
        font-size: 20px;
    }
    footer p {
        font-size: 12px;
    }
}
/*========== my Framework ============*/
.uppercase {
    text-transform: uppercase;
}
.orange {
    color: #ff9b51;
}
.bg-orange{
    background-color: #ff9b51;
    color: #fff;
}
.line-bottom::after {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background-color: #f26522;
    margin: 25px 0;
}
.line-bottom-center::after {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background-color: #f26522;
    margin: 25px auto;
}
.bold {
    font-weight: bold;
}
.paragraph {
    line-height: 1.5;
    color: #888;
}
.myFont {
    font-family:'raleway';
    font-weight: 300;
}
.firstP {
    margin-bottom: 4em;
}
@media (max-width : 991px){
    .line-bottom::after {
    margin: 25px auto;
}
    .firstP {
    margin-bottom: 2em;
}
}